#all{
	width: 500px;
	height: 500px;
	background-color: white ;
	text-align: center;
	
	/*相对居中*/
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
    /*相对居中*/
	
	border: 0px;
	
}